header {
    height:60px;
    color:white;
    display: flex;
    background:#c6c6c620;
    align-items: center;
    gap:20px;
    justify-content: center;
    font-size: 29px;
}
a {
    text-decoration: none;
    color:white;
}