@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merienda:wght@800&family=Playfair+Display:ital,wght@0,400;1,500&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');
* {
    margin:0;
    padding:0;
}
.current {
    width:100%;
    height:55.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size:28px;
}
.currency {
    width:500px;
    height:300px;
    background:#f2e3da9b;
    display: flex;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}
select {
    width:200px;
    border-radius:5px;
    font-size: 16px;
    background: lavender;
    border:2px solid rgb(248, 137, 154);
    outline: none;
}
button:hover {
   border:3px solid white;
}
label {
    font-size: 20px;
    font-weight:600;
    font-family: 'Playfair Display', serif;
}
input {
    font-size: 18px;
    width:170px;
    border-radius:6px;
    text-indent: 5px;
    outline:none;
    border:2px solid brown;
}
input:focus {
    border: 3px solid white;
    background: rgb(233, 205, 149);
}
button {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background:rgb(63, 120, 167);
    color:white;    
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
button:hover {
    color: black;
}
button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}
button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
p {
    font-size: 20px;
    font-weight: 600;
}